/*
css for natures way special event
*/

body  {
	width: 85%;
	margin:  0 auto;
	
}

/*------------------header---------------------*/

header  {
	background-color:  grey;
	text-align:  center;
	margin:  15px;
	padding:  5px;
	width:  50%;
}
header  h1 {
	font: italic bold 3em normal adobe garamond pro 
	baskerville new times roman serif;
	margin: 0;
	
}

header p  {
	font:   italic 1.27em adobe garamond pro 
	baskerville new times roman serif;
	margin:  0;
	
}

 nav ul li {

	list-style-type:  none;
	background: white;
	margin: 10px;
	padding:   0px;
	border-top:  1px  solid  gray;
	border-bottom:  1px  solid  gray;
	border-radius: 10px;
	width:  165px;
	text-align:  center;
	float:  left;
	overflow: hidden;
	
}

nav ul li a  {
	text-decoration:  none;
	background: white;
	display: block;
	height:  65px;
	line-height:  65px;
}	
	
nav ul li a:hover{
	
	background:  black;
	color:  white;
	
	
}
	
	


 nav  {
 	margin: 25px 60px;
	background-color:  white;
	font:  bold 1em adobe garamond pro 
	baskerville new times roman serif;
}


/*------------------main_body_content---------------*/

div#main_body_content h1  {
	font:  bold 6em  futura  arial sans-serif;
	clear: left;
}

h2  {
	font:   1.5em futura  arial sans-serif;
}
.button {
	font:  bold 1.80em  futura arial sans-serif;
}


div#main_body_content div#about_event aside blockquote   {
	font:  italic 1em optima calibri arial sans-serif;
	
} 

div#main_body_content div#about_event aside blockquote strong  {
	font:  italic bold 1.3em optima calibri arial sans-serif;
	
} 

div#main_body_content div#about_event aside cite   {
	font: italic .75em optima calibri arial sans-serif;
	
} 

div#main_body_content div#about_event section h3 { 
	font: bold 1.45em futura arial sans-serif; 
}

div#main_body_content div#about_event  p   {
	font:   1em optima calibri arial sans-serif;
	
} 

div#Biography  article h3  {
	font:  bold 1.3em futura arial sans-serif;
}

div#Biography  article p  {
	font:  .85em optima calibri arial sans-serif;
}

div#Biography h4  {
	font:  italic bold 1em futura arial sans-serif;
	text-decoration:  underline; 
}

div#Biography p  {
	font:  bold .9em optima calibri arial sans-serif;
	 
}

footer ul  {
	font:  .66em  optima calibri arial sans-serif;
}



