/*
css for natures way special event
*/

body  {
	width:  /*1282.5px;*/ 90%;
	margin:  0 auto;

}



/*------------------header---------------------*/

header  {
	background: #150a0e ;
	border-top:  1px solid grey;
	border-radius:  5px ;
	text-align:  center;
	margin:  /*25px*/  1.949317738791% 0% ;
	padding-top:  25px;
	width:  /*510px;*/ 39.766081871345%;
	height: 80px;
	float: left;
	clear: both;
	
	
	
}
header  h1 {
	font: italic bold 2em normal adobe garamond pro 
	baskerville new times roman serif;
	color: #ececd2;
	text-shadow: 1px 2px 1px #cddae1;
	margin: 0;
	padding: 0;

	
}

header p  {
	font:   italic 1em adobe garamond pro 
	baskerville new times roman serif;
	color:  #f895c2;
	margin:  0;
	padding: 0;
}




/*------------------navigation---------------------*/



 nav  {
 	/*margin-top bottom: 15px;*/
	background-color:  white;
	font:  bold 1em adobe garamond pro 
	baskerville new times roman serif;
	height:  80px;
	width:  /*650px;*/  50.682261208577%;
	margin-top:  /*10px;*/  1.538461538462%;
	margin-left:  0;
	float: right;
	
}


nav ul {
	width: /*550px;*/  84.615384615385%; 
	height:  85px;
	padding-top:  /*50px;*/ 9.090909090909%;
	margin: 0;
}

 nav ul li {

	list-style-type:  none;
	background: white;
	margin-right: /*10px;*/  1.538461538462%;
	padding:   0;
	border-top:  1px  solid   #150a0e ;
	/*border-bottom:  1px  solid  gray;*/
	border-radius: 5px;
	width:  /*115px;*/  20.909090909091%;
	text-align:  center;
	float:  left;
	overflow:  hidden;
	
	
}

nav ul li a  {
	text-decoration:  none;
	color:   #26092f;
	background: white;
	display: block;
	height:  40px;
	line-height:  2.5;
}	

nav ul li a:visited  { 
	
	background: #26092f;
	color:  #5d792a;
	opacity:  .5;
}
	
	
nav ul li a:hover{
	
	background: #150a0e ;
	color:  #f895c2;
}

nav ul li a:active {
	
	background:  #f895c2;
	color:  #5d792a;
	
}
	
	




/*------------------main_body_content---------------*/


div#main_body_content  {
	background: #150a0e ;
	width:  /*1253px;*/  97.699805068226%;
	height:  475px;
	border:  1px solid #150a0e ;
	border-radius:  5px ;
	clear: both;
	
}

div#main_body_content h1  {
	font:  bold 5em  futura  arial sans-serif;
	color: #ececd2;
	margin: /*15px;*/ 1.197126895451%;
	width: /*750px;*/  58.479532163743%;
	height:  100px;
	line-height: 1.15em;
	text-align: left;
	float: left;
}
h2  {
	font:   1.5em futura  arial sans-serif;
	color: #ececd2;
	width:  /*535px;*/  41.715399610136%;
	height:  45px;
	margin: /*0 75px;*/  0  5.985634477255%;
	line-height:  /*40px;*/ 1em
	text-align:  right;
	clear:  left;

		
}

div#main_body_content div#img-container   {
	height: 404px;
	width: /*300px;*/  23.942537909018%;
	margin: /*25px 120px 25px 0px;*/  1.995211492418%  9.577015163607%  1.995211492418% 0;
	padding: /*5px;*/  1.666666666667%;
	float: right;

}

img {
	max-width:  100%;
}



div#main_body_content div#about_event aside blockquote   {
	font:   1.25em optima calibri arial sans-serif;
	color: #ececd2;
	width: /*725px;*/ 56.530214424951%;
	text-align:  center;
	line-height: /*30px*/ 1.5em;
	
} 

div#main_body_content div#about_event aside blockquote strong  {
	font:  italic bold 1.3em optima calibri arial sans-serif;
	color:  #f895c2;
	
} 

div#main_body_content div#about_event aside cite   {
	font: italic .75em optima calibri arial sans-serif;
	color: #ececd2;
	margin-left:  /*515px;*/  41.101356743815%
	
	
}



/*------------Call to action-----------------------------------*/


div#main_body_content div#about_event .button  {

	height:  30px;
	width: 224px;
	line-height: 30px;
	margin:  25px 275px 0px 0px;
	float: right;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% futura, Arial, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}

div#main_body_content div#about_event .button:hover {

	text-decoration: none;
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}

div#main_body_content div#about_event .button:active {
	position: relative;
	top: 1px;
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}


div#main_body_content div#about_event .button a {
	font:  bold 1.80em  futura arial sans-serif;
	width: 820px;
	text-align: center;
	
}





/*------------------Biography---------------------------*/

div#Biography  {
	width: 90%
	/*-moz-column-count: 2;*/
	padding:/* 5px;*/  .389863547758%;
	margin-top: /*5px;*/  .389863547758%;
}


div#Biography  article h3  {
	font:  bold 1.3em futura arial sans-serif;
	}
	
	

div#Biography  article  {
	
	width:  60%; 
	height:  336px;

	
	 
}



div#Biography  article p  {
	font:  1em optima calibri arial sans-serif;
	line-height:  /*25px;*/  1.5em;
	text-align:  left; 
	-moz-column-count: 2;
	clear: both;
}

 
 h4  {
	font:  italic bold 1em futura arial sans-serif;
	text-decoration:  underline;
	width:  /*1283px;*/  100%;
	margin: 0  auto;
	float: left 
	
}

 div#extra_links p  {
	font:  bold .9em optima calibri arial sans-serif;
	color:  #f895c2;
	margin-right: /*25px;*/ 1.949317738791%;
	display: block;
	float:  left;
	 
}

 div#extra_links p a:visited  {
	color: grey;
}

 div#extra_links p a:hover  {
	color: white;
	background: black;
	 
}

 div#extra_links p a:active  {
	color: white;
	background:  #150a0e ;
}



/*------------------------image-gallery--------------------*/
	 


div#Biography  ul#book_images  {
	list-style-type: none;
	width: /*250px; */ 19.493177387914%;
	margin-left:  /*370px;*/   /*8.849902534113%;*/
	/*margin-right: 5px;*/
	
	overflow: hidden;
	margin: 0;

}

div#Biography  ul#book_images li {
	
	margin-right: 3px;  /*.233918128655%;*/
	float: right;
}

div#Biography  ul#book_images li a{
	border: 2px  solid #150a0e ;
	border-radius: 3px;
	width: /*100px;*/  /*7.797270955166%;*/
	height: 150px;
	margin: 3px;  /*.233918128655%;*/
	display: block;
}

div#Biography  ul#book_images li a:visited  {
	border-color: blue;
}

div#Biography  ul#book_images li a:hover {
	border-color: white;
}

div#Biography  ul#book_images li a:active {
	border-color:  #f895c2;
}

/*--------------------come-join-us------------------*/

section {
	height:  650px;
	width:  /*500px; */ 38.986354775828%;
	margin-top:  /*50px; */ 10%;
	clear: both;
	float: left;
	background: #150a0e;
	border:  1px #150a0e;
	border-radius:  5px 0px 0px 5px;
	
}

 section h3 { 
	font:  bold 2em futura arial sans-serif;
	color: #ececd2;
	text-align: center;
	margin:  0 auto;
}


section p   {
	font:  1.25em optima calibri arial sans-serif;
	color:  #ececd2;
	line-height:  1.5em;
	text-align:  left; 
	margin:  /*15px;*/  3%;
	/*-moz-column-count: 2;*/
}


/*--------------------------table+form----------------------*/

div#Table_and_Form  {

	width:  780px;  /*61.013645224172%;*/
	height:  650px;
	margin-top:  50px;
	font: italic;
	background:  #150a0e;
	border:  1px #150a0e;
	opacity: .75;
	border-radius:  0px 5px 5px 0px;
	float:  right;
	
}

div#Table_and_Form h2  {

	width:  783px;
	height:  650px;
	text-align: left;
	font: italic;
	color: #ececd2;
	margin: 25px;
}

footer { 
	width: 570px;
	height: 30px;
	margin:  0 auto;
	padding: 5px;
	background:  #150a0e;
	border-bottom:  1px solid #150a0e;
	border-radius:  0px 0px 5px 5px;
	clear:  both;
	
}

/*------------------------footer-------------------------------*/

footer ul {
	margin: 0;
	
}

footer ul li {
	font:  italic  .66em  optima calibri arial sans-serif;
	list-style-type: none;
	text-decoration: underline;
	color: #f895c2;
	margin-right:  25px;
	padding: 0;
	width:  75px;
	text-align:  center;
	float: left;
	overflow: hidden;
}


	
	
footer ul li a:hover  {
	background:  #150a0e;
	color: #ececd2;
}

footer ul li a:active {
	
	background: #ececd2;
	color:  #150a0e;
}

